{% extends "base.html" %} {% load static %} {% block content %}
<div id="authors" class="section active">
  <h2><i class="fas fa-user"></i> Detalhes do Autor</h2>

  <div class="details">
    <p><strong>Nome:</strong> {{ author.name }}</p>
    <p><strong>Nacionalidade:</strong> {{ author.nationality }}</p>
    <p><strong>Biografia:</strong></p>
    <p>{{ author.biography|linebreaks }}</p>
  </div>

  <a href="{% url 'author_update' author.id %}" class="btn"
    ><i class="fas fa-edit"></i> Editar</a
  >
  <a href="{% url 'authors' %}" class="btn"
    ><i class="fas fa-arrow-left"></i> Voltar</a
  >
</div>
{% endblock %}
